<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.rich.mapper.member.MemberMapper">
    <resultMap id="memberResultMap" type="MemberVO">
        <result property="member_id" column="member_id"/>
        <result property="password" column="password"/>
        <result property="member_name" column="member_name"/>
        <result property="member_nick" column="member_nick"/>
        <result property="username" column="username"/>
        <result property="member_address" column="member_address"/>
        <result property="member_phone" column="member_phone"/>
        <result property="member_img" column="member_img"/>
        <result property="member_create" column="member_create"/>
        <result property="member_update" column="member_update"/>
    </resultMap>

    <insert id="insertMember" parameterType="MemberVO">
        INSERT INTO members(member_id, password, member_name, member_nick,
                            username, member_address, member_phone)
        VALUES (member_seq.nextval, #{password}, #{member_name}, #{member_nick},
                #{username}, #{member_address}, #{member_phone})
    </insert>

    <select id="loginMember" resultMap="memberResultMap">
        SELECT *
        FROM members
        WHERE username = #{username}
        AND password = #{password}
    </select>

    <select id="findByEmail" resultMap="memberResultMap">
        SELECT *
        FROM members
        WHERE username = #{username}
    </select>

    <select id="checkEmailExists">
        SELECT COUNT(*)
        FROM members
        WHERE username = #{username}
    </select>

    <select id="findPwd">
        SELECT *
        FROM members
        WHERE member_name = #{member_name}
        AND username = #{username}
    </select>

    <update id="updatePwd">
        UPDATE members
        SET password = #{password}
        WHERE username = #{username}
    </update>



</mapper>